body{
    font-family: 'Jost';
    margin: 0;
}

.header-main-division{
    display: flex;
    justify-content: space-around;
    background-color: #CECECE;
    
}
.header-left-division{
    display: flex;
    padding-top: 40px;
    column-gap: 20px;
    
}

.header-centre-division{
    float:left;
    padding-top: 10px;
}

.header-right-division{
    display: flex;
    justify-content: flex-end;
}

.wall-poster-section{
    display: flex;
    justify-content: space-around;
    background-color: #CECECE;
}
.movie-name-and-details{
    text-align: left;
    padding: 100px 0;
    font-size: 2em;
}

.movie-poster{
    width: 525px;
    height: 525px;
    background-image: url("minnal-murali-vertical-poster.jpg");
    border-radius: 50%;
    background-size: cover;
}

#movie-name-additional-minnal-murali{
    font-size: 0.5em;
}

#read-more-button-poster-div{
    background-color: black;
    font-size: 0.5em;
    color: white;
    border: 0;
    padding: 20px 20px 20px 20px ;
}

.movies-and-fan-wall{
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-top: 50px;
}
.movies-wb{
    background-image: url("movies-bg.png");
    width: 300px;
    height: 300px;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.movies-heading-h2{
    color: white;
}
.fan-wall-wb{
    background-image: url("fan-wall-minnal-murali.jpg");
    width: 300px;
    height: 300px;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fan-wall-heading-h2{
    color: white;
}

.movies-fan-wall-buttons{
    border: 0;
    padding: 20px 25px 20px 25px;
}
.merchandise{
    text-align: center;
    padding-top: 65px;
    padding-bottom: 65px;
    width: 100%;
    height: 80%;
}
#merchandise-heading, #newsletter-heading{
    font-size: 2em;
}

.tshirts{
    display: flex;
}
.tshirt{
    height: 200px;
    width: 300px;
}

.newsletter{
    height: 20%;
    width: 100%;
    text-align: center;
    padding: 90px 0;
}


.primary-footer{
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 60px;
    padding-bottom: 60px;
}

.secondary-footer{
    height: 5%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 25px 10px 25px;
}

.right-part-secondary-footer{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.company-details-list,.help-list, .store-list{
    line-height: 2em;
}